* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #98CD8D 6.25%, #ffe23d 6.25%, #ffe23d 12.50%, #c1b3db 12.50%, #c1b3db 18.75%, #e890b3 18.75%, #e890b3 25%, #9397cc 25%, #9397cc 31.25%, #c77fb9 31.25%, #c77fb9 37.50%, #7fbda7 37.50%, #7fbda7 43.75%, #a0b87b 43.75%, #a0b87b 50%, #98CD8D 50%, #98CD8D 56.25%, #ffe23d 56.25%, #ffe23d 62.50%, #c1b3db 62.50%, #c1b3db 68.75%, #e890b3 68.75%, #e890b3 75%, #9397cc 75%, #9397cc 81.25%, #c77fb9 81.25%, #c77fb9 87.50%, #7fbda7 87.50%, #7fbda7 93.75%, #a0b87b 93.75%, #a0b87b 100%);
    background-size: 113.14px 113.14px;
}

.wrap {
    width: 80%;
    margin: 2vh auto 0;
    font-family: 'open sans', roboto, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

.game {
    display: flex;
    margin-bottom: 3vh;

}

.game div {
    height: 35vh;
    flex-grow: 1;
    margin: 30px;
    border: 4px solid black;
    border-radius: 30%;
}

.play {
    text-align: center;
}

.play input {
    height: 90px;
    font-size: 40px;
    padding: 20px;
    width: 400px;
    border: 4px solid black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25%;
}

.play button {
    width: 40%;
    height: 90px;
    text-align: center;
    padding: 20px 60px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 6px;
    border-radius: 25%;
}

.panel {
    margin: 80px 0 40px;
}

.panel,
.score {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgba(156, 212, 23, 0.651);
    border-radius: 10%;
    border: 3px solid black;
}

.panel span,
.score span {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .wrap {
        width: 90%;
    }

    .play input {
        height: 70px;
        font-size: 30px;
        display: block;
        margin: 20px auto;

    }

    .play button {
        height: 74px;
        font-size: 30px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
    }

}